body {
    background-color: #2d415d ;
       
        
}




.centered-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 555px;
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center;
    border-radius: 40px;
    background:linear-gradient(30deg, #00adee, #143355);
    padding: 20px; /* Espaçamento interno */
}

.centered-div h1 {
    margin-bottom: 10px;
    font-family: "IMPACT";
        color: rgb(245, 245, 245);
        font-size: 52px;
        text-align: center;
}

.centered-div p {
    margin-bottom: 20px;
    font-family: "impact", sans-serif;
        font-style: bold;
        font-size: large;
        color: white;
        font-size: 30px;
}

.centered-div form {
    margin-bottom: 20px;
}

.centered-div label {
    display: block;
  margin-bottom: 5px;
  font-family: 'Impact';
  font-style: italic;
  font-size: 40px;
  color: white;
}

.centered-div input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #000000;
}

.centered-div button {
   background-color: #00ccff ;
    color: #ffffff;
    border: 10px, solid, white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Impact', serif;
    font-size: large;
    border-radius: 20px;
}





h1 {
    font-family: "Love Letter";
    font-style: italic;
    color: rgb(0, 0, 0);

}





.homebutton {
    background-color: pink;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    border: rgb(0, 0, 0) solid 4px;
    text-align: center;
    position: relative;
    bottom: 46vh;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Love Letter';
}